# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\NetBeans PROJECTS\ClinicManagement\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
